<fieldset>

	<legend>Layout</legend>

	<label ng-hide="loading">V&auml;lj layout f&ouml;r generering</label>

	<div class="loader" ng-hide="!loading" > 
		<img src="src/assets/spinner.gif"> Laddar layouter ... 
	</div>

	<div ng-repeat="layout in layouts">
		<input type="radio" name="layout"
			value="{{layout.id}}" ng-model="layoutstate.selectedLayoutId" ng-change="layoutSelected()" />{{layout.name}}
	</div>


</fieldset>

<div ng-hide="model.cv.id > 0">
	<span><input type="button" value="Spara CV" ng-click="save()" /></span>	
</div>

<div ng-hide="!(model.cv.id > 0)">
	<span style="display: inline;"><input type="button" value="Spara som nytt" ng-click="save()" style="display: inline;"/></span>
	<span style="display: inline;"><input type="button" value="Spara" ng-click="update()" style="display: inline;"/> </span>
</div>