
<form name="adjustmentForm" class="css-form" novalidate>

<fieldset>
	<legend>Utvalda uppdrag</legend>		
	<label>Ange viktiga uppdrag till f&ouml;rstasidan</label>
	<table>
		<tr style="border-bottom:1px solid black;">
			<th> &nbsp; </th>
			<th> Uppdrag </th>
		</tr>
		<tr style="border-bottom:1px solid black;" ng-repeat="engagement in model.cv.engagements" ng-form="engagementForm"> 			
			<td><input ng-disabled="disableEngagements && !engagement.important" type="checkbox" ng-model="engagement.important" ng-change="countSelectedEngagements()" name="important" jobdescription /></td>
			<td ng-click="selectEngagement(engagement)" > 
				<div>{{engagement.name}} {{engagement.date}}</div>
				<div>
					<textarea style="width: 100%" ng-model="engagement.shortDescription" rows="4" name="engagement" jobdescription></textarea> 
				</div>
				<div style="font-size: small;">{{engagement.shortDescription.length}} / 200 
					<span class="error" ng-show="engagementForm.engagement.$error.jobdescription"> Beskrivningen f&aring;r endast inneh&aring;lla 200 tecken. </span>
				</div>
			</td>			
		</tr>
	</table>
	<div>{{loaderIndicator}}</div>
	<div>{{selectedEngagements}} / 5 uppdrag valda</div>
</fieldset>

</form>