<div ng-hide="!generating" style="width:100px; margin:0 auto;">
     <img src="src/assets/spinner.gif"> Genererar pdf...   
</div>

<div ng-hide="!saving" style="width:100px; margin: 0 auto;"> 
		<img src="src/assets/spinner.gif"> Sparar CV ... 
</div>

<div ng-hide="generating || saving">
<fieldset>
	<legend>Siluettbild</legend>
	<label ng-hide="loading">Ange en siluettbild f&ouml;r f&ouml;rs&auml;ttsbladet</label>
	
	<div class="loader" ng-hide="!loading" > 
		<img src="src/assets/spinner.gif"> Laddar bilder ... 
	</div>
	
	<div>
		<span ng-repeat="coverimage in coverimages">
			<input type="radio" name="coverimage" value="{{coverimage.id}}" ng-model="model.cv.coverImage.id" ng-change="imageSelected()" />
			<img src="{{coverimage.url}}" alt="Cover Image" width="42" />
		</span>		
	</div>
</fieldset>

<fieldset>
	<legend>Bild</legend>
	<label>Portr&auml;ttbild</label>
	
	<div class="loader" ng-hide="!loadingportrait" > 
		<img src="src/assets/spinner.gif"> Laddar bild ... 
	</div>
	
	<div class="loader" ng-hide="loadingportrait" >
		<img src="{{model.cv.profile.portrait.url}}" alt="Portrait" height="50"/>
		<p>Ladda upp en ny bild</p>
	</div>
	
	<input type="file" name="file" onchange="angular.element(this).scope().uploadPortrait(this.files)"/>
</fieldset>
</div>