<fieldset>
	<legend>Siluettbild</legend>
	<label ng-hide="loading">Ange en siluettbild f&ouml;r f&ouml;rs&auml;ttsbladet</label>
	
	<div class="loader" ng-hide="!loading" > 
		<img src="src/assets/spinner.gif"> Laddar bilder ... 
	</div>
	
	<div>
		<span ng-repeat="coverimage in coverimages">
			<input type="radio" name="coverimage" value="{{coverimage.name}}" ng-model="model.cv.coverImage" ng-change="imageSelected()" />
			<img src="{{coverimage.url}}" alt="Cover Image" height="42" width="42" />
		</span>		
	</div>
</fieldset>

<fieldset>
	<legend>Bild</legend>
	<label>Portr&auml;ttbild</label>
	<img src="{{model.cv.profile.portrait.url}}" alt="Portrait" />
	
	<p>Ladda upp en ny bild</p>
	<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
</fieldset>