body {
	/* font: 75%/1.5em "Lucida Grande", Arial, Verdana, sans-serif; */
	font-family: "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 0.9em;
}

#wrapper {
	width: 760px;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
}

h1,h2,h3 {
	color: #333;
}

h1 {
	font-size: 1.55em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.20em;
	border-bottom: 1px solid #333;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 0.9em;
	margin-bottom: 0.2em;
}

a {
	text-decoration: none;
	color: black;
}

p {
	margin-top: 0em;
	margin-bottom: 1em;
}

label {
	display: block;
	font-size: 0.9em; /* was 0.8 */
	/* font-weight: bold; */
	margin-bottom: 0.1em;
}

input {
	display: block;
	margin-bottom: 0.8em;
}

input[type=text],input[type=file] {
	width: 100%;
}

input[type=button],input[type=submit] {
	height: 30px;
}

textarea {
	-moz-tab-size: 3;
	-o-tab-size: 3;
	-webkit-tab-size: 3;
	tab-size: 3;
}

.buttonPanel input {
	margin-top: 20px;
	width: 100px;
}

.left {
	float: left;
}

.right {
	float: right;
}

table {
	padding: 0px;
	border-collapse: collapse;
}

table tr {
	padding-top: 2px;
	padding-bottom: 2px;
}

table tr:hover td {
	background-color: lightgray;
	cursor: default;
}

ul {
	list-style: none;
	padding: 0px;
}

li {
	height: 30px;
}

#adminLink {
	float: right;
}

#adminLink a {
	color: gray;
	text-decoration: underline;
}

.layoutList div {
	display: inline;
}

.layoutList:hover {
	background-color: lightgray;
}

.layoutList:hover input {
	display: inline;
}

.layoutName {
	width: 81%;
}

.layoutTools {
	width: 18%;
	float: right;
}

.layoutTools input {
	display: none;
	margin: 0px;
}

.layoutTools button {
	display: none;
	margin: 0px;
}

.layoutList:hover button {
	display: inline;
}

/* textarea {
	width: 97%;
	margin-left: 20px;
} */

#fileInput {
	margin-left: 20px;
}

#rtfForm {
	margin-left: 5px;
}

.accordionBody {
	padding-left: 4px;
	padding-right: 4px;
}

.accordionDescription {
	float: left;
	width: 738px;
	padding-right: 8px;
	font-style: italic;
}

.accordionDescription div {
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
}

.accordionDescription input {
	width: 100%;
}

.add {
	font-size: 1.6em;
	font-weight: bold;
	color: #333;
	padding-left: 0.5em;
}

table {
	width: 100%;
}

table th {
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
}

table input {
	margin: 0px;
}

input[type=radio] {
	display: inline;
}

span.orange {
	color: rgb(242, 101, 50);
}


.cvList div {
	display: inline;
}

.cvList:hover {
	background-color: lightgray;
}

.cvList input {
	display: inline;
}

.cvName {
	width: 70%;
}

.cvTools {
	width: 25%;
	float: right;
}

.cvTools input button{
	display: none;
	margin: 0px;
}

li.tag {
	background-color: #E8E8E8; 
	margin: 2px; 
	padding: 2px;
}