
<fieldset>
	<legend>Ordmoln</legend>
	<label>L&auml;gg till ord i ordmolnet. Ordmolnet visas p&aring; f&ouml;rs&auml;ttsbladet</label>
	<div>
		<span ng-repeat="tag in cv.tags" style="border: thin solid; margin: 2px; padding: 2px;">
			<span ng-class="{
			'tag_bold': tag.bold, 
			'tag_uppercase' : tag.upperCase,
			'tag_italic' : tag.italic, 
			'tag_size_large': tag.size == 'LARGE',
			'tag_size_small': tag.size == 'SMALL',
			'tag_font_myriad': tag.font == 'myriad',
			'tag_font_minion': tag.font == 'minion',
			'tag_font_trebuchet': tag.font == 'trebuchet'}">
				{{tag.tagName}}
			</span>	<a ng-click="deleteTag($index)" style="text-decoration: underline;">Ta bort</a>
		</span>		
	</div>
	
	<table>
	<tr><td> Text </td> <td> Fet </td> <td> Versaler </td> <td> Kursiv </td> <td> Storlek </td> <td>  </td> </tr>
	<tr>
		<td><input ng-model="tagName" /></td> 
		<td><input type="checkbox" ng-model="tagBold"/></td>
		<td><input type="checkbox" ng-model="tagUpperCase"/></td>
		<td><input type="checkbox" ng-model="tagItalic"/></td>
		<td><select ng-model="tagSize" ng-options="tagSize for tagSize in tagSizes"></select></td>
		<td><select ng-model="tagFont" ng-options="tagFont for tagFont in tagFonts"></select></td>
		<td><input type="button" ng-click="addTag()" value="L&auml;gg till"/> </td>
	</tr>	
	</table>	
	
</fieldset>

<fieldset>
	<legend>Siluettbild</legend>
	<label>Ange en siluettbild f&ouml;r f&ouml;rs&auml;ttsbladet</label>
	<div>
		<span ng-repeat="coverimage in coverimages">
			<input type="radio" name="coverimage" value="{{coverimage.name}}" ng-model="cv.coverImage"/>
			<img src="images/{{coverimage.name}}" alt="Cover Image" height="42" width="42" />
		</span>		
	</div>
</fieldset>

<fieldset>
	<legend>Titel</legend>
	<label>Ange personens titel f&ouml;r uppdraget</label>
	<input type="text" ng-model="cv.profile.title" />
</fieldset>

<fieldset>
	<legend>Utvalda uppdrag</legend>		
	<label>Ange viktiga uppdrag till f&ouml;rstasidan</label>
	<table>
		<tr style="border-bottom:1px solid black;">
			<th><input type="checkbox" ng-model="columnCheckBox" ng-click="toggleRowCheckboxes()" /></th>
			<th>Datum</th>
			<th>Namn</th>
		</tr>
		<tr ng-repeat="engagement in cv.engagements" title="{{engagement.description}}"> 
			<td><input type="checkbox" ng-model="engagement.important" ng-click="toggleColumnCheckbox(engagement.important)" /></td>
			<td ng-click="toggleCheckbox($index)">{{engagement.date}}</td>
			<td ng-click="toggleCheckbox($index)">{{engagement.name}}</td>
		</tr>
	</table>
	<div>{{loaderIndicator}}</div>
	<div>{{selectedEngagements}} uppdrag valda</div>
</fieldset>

<fieldset>
	<legend>Utvalda tekniker</legend>		
	<label>Ange viktiga tekniker till f&ouml;rstasidan</label>
	<table>
		<tr style="border-bottom:1px solid black;">
			<th><input type="checkbox" ng-model="columnCheckBox" ng-click="toggleRowCheckboxes()" /></th>
			<th>Namn</th>
		</tr>
		<tr ng-repeat="technology in cv.technologies" title="{{technology.name}}"> 
			<td><input type="checkbox" ng-model="technology.important" /></td>			
			<td>{{technology.name}} {{technology.important}}</td>
		</tr>
	</table>	
	<div>{{selectedTechnologies}} tekniker valda</div>
</fieldset>

<fieldset>
	<legend>Personliga egenskaper</legend>
	<label>L&auml;gg till egenskaper som beskriver personen.</label>
	<div>
		<p ng-repeat="quality in cv.personalQualities">
			{{quality}} 
			<a ng-click="deleteQuality($index)" style="text-decoration: underline;">Ta bort</a>
		</p>
		
		<input ng-model="qualityName" /> <input type="button" ng-click="addQuality()" value="L&auml;gg till"/>		
	</div>
</fieldset>

<fieldset>
	<legend>Bild</legend>
	<label>Portr&auml;ttbild</label>
	<img src="{{cv.profile.portraitUrl}}" alt="Portrait" />
	
	<p>Ladda upp en ny bild</p>
	<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
</fieldset>
