
<fieldset>
	<legend>Layout</legend>
	
	<p>V&auml;lj layout f&ouml;r generering</p>
	
	<form id="layoutForm" method="post" enctype="multipart/form-data" accept-charset="UTF-8" target="_blank">
		<div ng-repeat="layout in layouts">
			<!-- input type="radio" ng-model="$parent.selectedLayoutHref" name="layout" value="{{layout.href}}" ng-checked="checkFirst()">{{layout.name}}</input> -->
			<input type="radio" ng-model="$parent.selectedLayoutHref" name="layout" value="{{layout.id}}" ng-checked="checkFirst()">{{layout.name}}</input>
		</div>
		<div>{{loaderIndicator}}</div>
		<input type="hidden" name="modifiedCv" value="{{cv}}" />
	</form>
</fieldset>

