<fieldset>
	<legend>Siluettbild</legend>
	<label>Ange en siluettbild f&ouml;r f&ouml;rs&auml;ttsbladet</label>
	<div>
		<span ng-repeat="coverimage in coverimages">
			<input type="radio" name="coverimage" value="{{coverimage.name}}" ng-model="cv.coverImage"/>
			<img src="{{coverimage.url}}" alt="Cover Image" height="42" width="42" />
		</span>		
	</div>
</fieldset>

<fieldset>
	<legend>Bild</legend>
	<label>Portr&auml;ttbild</label>
	<img src="{{cv.profile.portrait.url}}" alt="Portrait" />
	
	<p>Ladda upp en ny bild</p>
	<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
</fieldset>