
<form name="adjustmentForm" class="css-form" novalidate>

<fieldset>
	<legend>Titel</legend>
	<label>Ange personens titel f&ouml;r uppdraget</label>
	<input type="text" ng-model="model.cv.profile.title" name="cvTitle" required ng-maxlength="40" maxlength="40"/>
	<span class="error" ng-show="adjustmentForm.cvTitle.$error.required"> Titel &auml;r obligatoriskt. </span>
</fieldset>

<fieldset>
	<!-- Räksmörgås -->
	<legend>Beskrivning</legend>
	<label>Ange beskrivning f&ouml;r personen: </label>	
	
	<textarea style="width:100%" maxlength="570" rows="7" ng-model="model.cv.description" name="cvDescription" required laxlength></textarea>
	
	<div>
		{{model.cv.description.length}} / 570 <span class="error" ng-show="adjustmentForm.cvDescription.$error.laxlength"> Beskrivningen f&aring;r endast inneh&aring;lla 570 tecken. </span>
	</div>
	
</fieldset>

</form>